<div class="text-center">
  <header>
    <h1> Login </h1>
  </header>
  <div class="form-signin w-100 m-auto">
    @{view(
      'generic-user-form',
      {formid: 'login-form'
      ,submitText: 'Login' 
      ,inputs: [['username', 'text', 'Username'], ['password', 'password', 'Password']]
      }
    )}
    <div id="failure-message">
    </div>
  </div>
  <script>
    $('#login-form').submit(function (event) {
      event.preventDefault();
      let requerst = $.post('/api/login', $(this).serialize())
        .then(() => {
          window.location.href = '../admin-panel/leads';
        })
        .fail(function (data) {
          console.log(data);
          $('#failure-message').append(
            data.status === 401 ?
              '<p class="text-danger">Wrong username or password</p>' :
              '<p class="text-danger">An error ocurred, please contact your administrator or IT department</p>'
          );
        });
    });
  </script>
</div>
