@{view('admin-navbar')}
<div class="form-signin w-800 m-auto">
  @{view(
    'generic-user-form',
    {formid: 'admin-info-form'
    ,submitText: 'Add Admin' 
    ,inputs: [['username', 'text', 'Username'], ['password', 'password', 'Password'], ['email', 'email', 'example@email.com']]
    }
  )}
</div>
<div id="success-message" class="text-center" style="display:none;">
  <p class="text-success"> New Administrator Added!</p>
</div>
<script> 
  $('#admin-info-form').submit(function (event) {
    event.preventDefault();
    // in case errors where activated
    $('#username-error-message').hide();
    $('#email-error-message').hide();
    $('#password-error-message').hide();
    // in case an admin was previously added
    $('#success-message').hide();
    let requerst = $.post('/admin-panel/add-admin', $(this).serialize())
      .then(function(data){
        $('#success-message').show();
      })
      .fail(function (data) {
        let err = JSON.parse(data.responseText)[0];
        if (data.status == 401){
          if( /user/i.test(err.error) )
              $('#username-error-message').html(
                  `<p class="text-danger">${err.error}</p>`
              ).show();
            else if (/email/i.test(err.error))
              $('#email-error-message').html(
                  `<p class="text-danger">${err.error}</p>`
              ).show();
            else if (/password/i.test(err.error))
              $('#password-error-message').html(
                  `<p class="text-danger">${err.error}</p>`
              ).show();
          } else console.log(err.error);
      });
  });
</script>
