<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Admin panel</a>
  <li class="nav-item">
    <a class="nav-link" href="/admin-panel/leads">Leads</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin-panel/add-admin">Add admin</a>
  </li>
  <ul class="navbar-nav mr-auto">
  </ul>
</nav>
