@{if (model.leads == [])}
  <div class="empty-lead-info">empty fucker</div>
@{else}
  <div class="text-center">
  <h3>Leads</h3>
  <ul class="mx-auto list-group w-50 text-left">
  @{foreach lead in model.leads}
    <li class="lead-info list-group-item">
      <h4>@{lead.username}</h4>
      <div class="lead-details" style="display: none">
        <strong>email</strong>: @{lead.email}
      </div>
    </li>
  @{end}
  </ul>
  </div>
  <script>
    $(".lead-info").on('click', function(){
        $(this).find(".lead-details").slideToggle(500);
    });
  </script>
@{endif}
