<div class="text-center">
  <h3>Generation @{model.gen}</h3>
  <div id="main-page"class="container">
  </div>
</div>


<script>
  let mainPage = $("#main-page");
  mainPage.html('<div class="spinner-border m-6" role="status"><span class="sr-only">Loading...</span></div>');
    genCardsInfo("@{model.gen}").then(function (infoArr) {
      mainPage.html('<div id="gen-cards" class="row row-cols-6"></div>');
      let genCards = $('#gen-cards');
      infoArr.map(makeGenCard).forEach(elem => genCards.append(`<div class="col">${elem}</div>`));
  });
</script>
