<form id="@{model.formid}" method="POST">
  <!--
    input[0] = input name
    input[1] = input type
    input[2] = input placeholder
    this way is easier to organize than using objects
  -->
  <div class="text-left">  
  @{foreach input in model.inputs}
    <div class="form-floating">
      <label for="form-@{input[0]}" class="text-capitalize">@{input[0]}</label>
      <input id="form-@{input[0]}" class="form-control" type="@{input[1]}" placeholder="@{input[2]}" name="@{input[0]}" required>
    </div>
    <div id="@{input[0]}-error-message" class=".text-danger" style="display: none;"></div>
  @{end}
  </div>
  <button class="btn btn-primary" id="form-submit" type="submit">@{model.submitText}</button>
</form>
