<script src="https://unpkg.com/pokeapi-js-wrapper/dist/index.js"></script>
<script src="/js/pokeutils.js"></script>
<header>
  <nav class="text-white navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar bg-dark align-middle">
    <div class="navbar-brand">
      <h3>PokeFront</h3>
    </div>
    <div class="collapse navbar-collapse">
      <span class="navbar-text">
        Gen:
      </span>
      <ul class="navbar-nav mr-auto">
        @{foreach gen in [1, 2, 3, 4, 5, 6, 7, 8]}
        <li class="nav-item @{if model.gen == gen} active @{fi}">
          <a class="nav-link" href="/?gen=@{gen}">@{gen}</a>
        </li>
        @{end}
        <li class="nav-item">
          <a id="register-link" class="nav-link" href="/user/register?cont=@{query.cont}">Register</a>
        </li>
      </ul>
    </div>
    <form id="search-pokemon" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="pokemon">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</header>
 <div id="page-content">  @{if model.viewPokemon}
      @{view('pokemon-info', { pokemon: model.pokemon })}
    @{else}
      <div class="container-fluid justify-content-center">
      @{view('gen-cards', { gen: model.gen })}
      </div>
    @{endif}
  </div>
<script>
    $('#register-link').attr('href', `/user/register?cont=${encodeURI((location.pathname + location.search).replace('?', '$'))}`);
      $('#search-pokemon').on('submit', function (event) {
        event.preventDefault();
        const pokemon = $(this).serialize().split('=')[1];
        P.getPokemonByName(pokemon).then(() => {
          window.location.href = `/pokemon/${pokemon}`;
        }).catch(() => {
          $('#page-content').html(`
            <p class="text-danger text-center"> 
              Pokemon ${pokemon} not found!
            </p>`);
        })
      });
</script>
