<div id="gen-btn" class="dropdown">
  <button id="gen-btn-txt" class="btn btn-secondary dropdown-toggle text-capitalize" type="button" data-toggle="dropdown" aria-expanded="false">
  </button>
  <div id="gen-btn-btns" class="dropdown-menu" aria-labelledby="gen-btn-txt">
    <!-- this will be programaticalyy filled -->
  </div>
</div>
<div class="container-flex">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-auto text-center h-auto">
      <img id="poke-sprite" alt="@{model.pokemon}-spritea" style="height:8rem;">
      <h5 id="pokemon-id" class="text-muted"></h5>
      <h5 id="pokemon-name">@{model.pokemon}</h5>
    </div>
    <div class="text-center">
      <div class="row">
        <div class="col">
          <h5>HP:</h5>
          <br>
          <p id="hp-stat"></p>
        </div>
        <div class="col">
          <h5>Attack:</h5>
          <br>
          <p id="atk-stat"></p>
        </div>
        <div class="col">
          <h5>Defense:</h5>
          <br>
          <p id="def-stat"></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h5>Sp Attack:</h5>
          <br>
          <p id="sp-atk-stat"></p>
        </div>
        <div class="col">
          <h5>Sp Defense:</h5>
          <br>
          <p id="sp-def-stat"></p>
        </div>
        <div class="col">
          <h5>Speed:</h5>
          <br>
          <br>
          <p id="spd-stat"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center align-items-center">
    <div id="gen-sprites-target" class="col-md-auto justify-content-center">
      <!-- this will be programaticalyy filled -->
    </div>
  </div>
  <div id="gen-moves-target" class="row justify-content-center">
      <!-- this will be programaticalyy filled -->
  </div>
</div>
<script>
  let pokemon = undefined;

  function changeGen(genId) {
      // first we change the gen of the pokemon, then
      // the object itself worries about delivering the appropiate data
      pokemon.gen = genId;
      $('#gen-sprites-target').html(generateSpriteCards(pokemon));
      $('#gen-moves-target').html(generateMoveTables(pokemon));
      $('#gen-btn-txt').text(`Generation ${genId}`);
  };

  P.getPokemonByName("@{model.pokemon}").then(function (pokemon_info) {
    // ----- all of this stuff is supposed to not change after changing gen -----
    pokemon = new PokemonInfo(pokemon_info);
    // ID text and sprite
    $('#pokemon-id').text('#' + pokemon.id.toString().padStart(3, '0'));
    $('#poke-sprite').attr('src', pokemon.default_sprite);
    // Stats
    $('#hp-stat').text(pokemon.stats.hp);
    $('#atk-stat').text(pokemon.stats.attack);
    $('#def-stat').text(pokemon.stats.defense);
    $('#sp-atk-stat').text(pokemon.stats["special-attack"]);
    $('#sp-def-stat').text(pokemon.stats["special-defense"]);
    $('#spd-stat').text(pokemon.stats.speed);
    // Gen selection button
    $('#gen-btn-txt').text(genNameToDisplayName(pokemon.gen));
    $('#gen-btn-btns').html(makeGenDropdownButtons(pokemon));
    // get gen specific info
    changeGen(genNameToId[pokemon.gen]);
  });
</script>
