<div class="text-center">
  <p>
    For the moment, we are still working on giving who register a new experience.
    <br>
    You can create an account right now and recieve news on the progress of our
    little project.
  </p>

  <div class="form-signin w-800 m-auto">
    @{view(
    'generic-user-form',
    {formid: 'lead-info-form'
    ,submitText: 'Register!'
    ,inputs: [['username', 'text', 'Username'], ['password', 'password', 'Password'], ['email', 'email',
    'example@email.com']]
    }
    )}
  </div>
  <button class="btn btn-light" id="ret-btn" type="button">Go back</button>
  <div id="success-message" class="text-center" style="display:none;">
    <p class="text-success"> You registered Sucessfully!</p>
  </div>
</div>
<script>
  $('#ret-btn').on('click', function () {
    let params = new URLSearchParams(location.search);
    window.location.href = (params.get('cont') ?? '/').replace('$', '?');
  });
  $('#lead-info-form').submit(function (event) {
    event.preventDefault();
    // in case errors where activated
    $('#username-error-message').hide();
    $('#email-error-message').hide();
    $('#password-error-message').hide();
    // in case an admin was previously added
    $('#success-message').hide();
    let requerst = $.post('/user/register', $(this).serialize())
      .then(function (data) {
        $('#success-message').show();
      })
      .fail(function (data) {
        let err = JSON.parse(data.responseText)[0];
        if (data.status == 401) {
          if (/user/i.test(err.error))
            $('#username-error-message').html(
              `<p class="text-danger">${err.error}</p>`
            ).show();
          else if (/email/i.test(err.error))
            $('#email-error-message').html(
              `<p class="text-danger">${err.error}</p>`
            ).show();
          else if (/password/i.test(err.error))
            $('#password-error-message').html(
              `<p class="text-danger">${err.error}</p>`
            ).show();
        } else console.log(err.error);
      });
  });
</script>
